/*Basic styling and removing defaults*/
:root{
    font-size:15px ;
    color:rgb(66, 66, 155);
}

body{
    font-family: Raleway, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vh;
}

fieldset{
    border: none;
    padding-left: 9vw;
    padding-right: 9vw;
    padding-top: 5vh;
    padding-bottom: 4.8vh;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1 + div{
    font-size: 1.3rem;
}

h1 {
    margin-bottom: 12px;
    margin-top: 0px;
    font-size: 1.6rem;
}

h2{
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 1.5rem;
}

input{
    border: 0px;
    font: inherit;
    margin: 0px;
    padding: 0px;
}

button{
    border: 0px;
    font:inherit;
    margin: 0px;
}

/*Actual styling*/

.decoration{
    flex: 1;
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.decoration div{
    background-color: #A9E9DA;
    width: 100%;
    aspect-ratio: 4/1;
    opacity: 0.8;
    flex: none;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

.logo{
    height: 100px;
    aspect-ratio: 1/1;
}


.content{
    flex: 2;
    background-color: rgb(173, 216, 230);
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
}


.form-field{
    background-color: rgb(200, 238, 242);
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

li{
    flex-basis: 35%;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

input{
    flex: 1 1 100%;
    max-width: 250px;
    padding: 4px;
    font-size: 0.9rem ;
    background-color: rgb(135, 206, 235);
    border:0.5px inset rgb(25, 173, 231);
    border-radius: 6px;
    box-shadow: inset 0.5px 0.5px 2px;
}

input:focus{
    background-color: #A9E9DA;
}

input:invalid{
    border: 1px solid red;
}

input:invalid + span::before{
    color: red;
    content: "Invalid field";
    font-size: 0.6rem;
}
span{
    
    margin-top: -6px;
}


input:placeholder-shown{
    border:0.5px inset rgb(25, 173, 231)
}
input:placeholder-shown + span::before{
    content: "";
}

fieldset:last-child{
    display: flex;
    gap: 36px;
}

button{
    border-radius: 8px;
    background-color: rgb(78, 165, 253);
    padding: 6px;
    border: 2px solid #441eee;
    color:#441eee;
    font-weight: 600;
    font-size: 1.15rem;
    max-height: 50px;
}


button:hover, button:focus{
    background-color: #A9E9DA;
    border: 2px inset rgb(78, 165, 253);
}
